<!DOCTYPE html>
<html>
<head>
    <title>Recipe Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>{{ recipe_info.recipe_name }}</h1>

    <div class="recipe">
        <img src="{{ recipe_info.image_url }}" alt="{{ recipe_info.recipe_name }}">
        <div class="recipe-details">
            <h2>Ingredients</h2>
            <ul>
                {% for ingredient in recipe_info.ingredients_list %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
            <h2>Cooking Directions</h2>
            <div class="cooking-directions">
                <p>{{ recipe_info.cooking_directions }}</p>
            </div>
            <h2>Prep Time</h2>
            <p>{{ recipe_info.prep_time }}</p>
            <h2>Cook Time</h2>
            <p>{{ recipe_info.cook_time }}</p>
            <h2>Nutritional Information</h2>
            <p>Calories: {{ recipe_info.calories }}</p>
            <p>Fat: {{ recipe_info.fat }}</p>
            <p>Carbohydrates: {{ recipe_info.carbohydrates }}</p>
            <p>Protein: {{ recipe_info.protein }}</p>
        </div>
    </div>

    <a href="/">Back to Home</a>
</body>
</html>